.login-box {
    display: flex;
    flex-direction: column;
}

.login-box input {
    margin: 0.2em;
}

.login-button, .register-button {
    background: white;
    border: none;
    margin: 0.2em;
    padding: 1em;
}