.new-post {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 2px;
    background: #ffffff;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.right {
    display: flex;
    max-width: 10%;
}

.anonymous {
    font-size: 0.8rem;
}

.text-input {
    flex-grow: 1;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.button-send {
    background: #795548;
    color: white;
    font-weight: bold;
    border: none;
}