.post {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 1px 0;
    padding: 0.5em;
    font-size: 0.8rem;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}

.username {
    font-weight: bold;
}

.post-body {
    font-size: 1.3rem;
    margin: 0.3em 0;
}
